html {
  height: 100%;
  width: 100%;
}

/*nav bar style*/
@keyframes slide-in {
  0% {transform: translateX(-100%);}
  100% {transform: translateX(0);}
}

#menu {
  animation: slide-in 0.5s forwards;
}

#menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  font-size: 20px;
  height: 40px;
  place-items: center;
  
  
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffe4e1;
  margin: 0;
  display: flex;
  flex-direction: column;
  
}

.body{
  font-family: Arial, sans-serif;
  background-color: #ffe4e1;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;


}

h1 {
  text-align: center;
  padding-top: 20px;
  font-size: 40px;
  font-family: Roboto, sans-serif;
}

img {
  width: 100px;
  margin-left: 7px;
  align-items: center;

}

.study{
  width: 160px;
  display: flex;
  justify-content: center;
  padding-top:30px;
  margin-left: 160px;
  padding-bottom: 0px;
  align-items: center;

}
.no{
  width: 130px;
  display: flex;
  justify-content: center;
  padding-top:40px;
  margin-left: 175px;
  padding-bottom: 0px;
  align-items: center;
}
.re{
  width: 160px;
  display: flex;
  justify-content: center;
  padding-top:40px;
  margin-left: 160px;
  padding-bottom: 0px;
  align-items: center;
}
.container {
  width: 70%;
  max-width: 1000px;
  align-items: center;

}

.playlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  
}

.text {
  width: 50%;
  align-items: center;
}

iframe {
  width: 45%;
  height: 352px;
  border-radius: 16px;
  align-items: center;
}
h3{
  font-size:30px;
  align-items: center;
}
p{

  font-size: 20px;
  align-items: center;
  text-align: justify;
}
